.box-sizing{
    width: 700px;
    height: 700px;
    background-color: blueviolet;
    gap: 10px;
    margin: auto;
    display: flex;
    align-items: center;
    /* center item using flex */
    /* display: flex;
    justify-content: center;
    align-items: center; */

    /* center using grid */
    /* display: grid;
    place-items: center; */

    /* center using position */
    position: relative;
}
.content-box{
    background-color: red;
    height: 300px;
    width: 300px;
    
    /* center using position */
    /* position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); */
    box-sizing: content-box;
    padding: 80px;
}
.border-box{
    background-color: green;
    height: 300px;
    width: 300px;
    box-sizing: border-box;
    padding: 80px;

}

.flag-green{
    width: 1000px;
    height: 600px;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.flag-rounded-red{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    top:  50%;
    left: 50%;
    transform: translate(-10%, -50%);
    z-index: 21;
}
.flag-rounded-white{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top:  50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
}
