* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.banner {
  display: flex;
  align-items: center;
  background-color: black;
  /* position: relative; */
  color: white;
  margin: 80px auto;
  border-radius: 15px;
  font-family: "Poppins", sans-serif;
  gap: 24px;
}

.container {
  max-width: 1280px;
  margin: auto;
}
.banner-content {
  padding-left: 45px;
  max-width: 50%;
  margin: 110px;
}
.banner h2 {
  font-size: 72px;
  font-weight: 700;
}

.banner p {
  color: #fff;
  margin: 15px 0;
  font-weight: 400;
  max-width: 70%;
}

.btn {
  border-radius: 5px;
  background: rgb(221, 0, 0);
  padding: 15px 25px;
  font-weight: 600;
  color: white;
  border: none;
}

.banner-image img {
  width: 500px;
  /* display: block; */
  /* position: absolute;
  bottom: 0;
  right: 0; */
}

/* upcoming section styles */
.upcoming-section {
  display: flex;
  padding: 50px 0;
  gap: 20px;
}

.upcoming-left-section {
  background-color: black;
  width: 25%;
  height: fit-content;
  /* flex-basis: 700px; */
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 15px;
  border-radius: 15px;
}
.upcoming-left-section button {
  width: 100%;
  font-size: 20px;
  border-radius: 10px;
  font-weight: 600;
}
.upcoming-left-section button:nth-child(3) {
  background-color: white;
  color: black;
}

/* upcoming right/ card section styles */
.upcoming-right-section {
  /* flex-basis: 700px; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  flex: 1;
}
.card {
  border-radius: 10px 10px 0 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.card img {
  width: 100%;
}
.card-content {
  padding: 15px;
}
.card-content h4 {
  font-size: 1rem;
  font-weight: 700;
  margin: 20px 0;
}
.card-content button {
  background-color: #fff;
  border-radius: 5px;
  padding: 5px 20px;
  border: 2px solid #161616;
}
.card-bottom {
  color: rgba(0, 0, 0, 0.5);
  font-size: 1rem;
  font-weight: 400;
}
